<%= form_for([@record.patient, @record], :html => { :multipart => true }) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device %><br />
    <%= f.text_field :device %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.file_field :video %>
  </div>
  <div class="field">
    <%= f.label :side_effects %><br />
    <% SideEffect.all.each do |side_effect| %>
      <%= check_box_tag "record[side_effect_ids][]", side_effect.id, @record.side_effects.include?(side_effect) %>
      <%= side_effect.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= select "record", "status", Record::STATUS_TYPES, { :include_blank => false } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
