<p><%=t('hello_email', email: @resource.email)%></p>

<p><%= t(:someone_has_requested)%></p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(:if_you_do_not_request_this)%></p>
<p><%= t(:your_password_will_not_change)%></p>
