<h2><%= t(:change_your_password)%></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.input :password, :autofocus => true %>

  <%= f.input :password_confirmation %>

  <div>
    <%= f.submit t(:change_my_password), :class => "button" %>
  </div>

  <%= render "admins/shared/links" %>
<% end %>
